[Desktop Entry]
Exec=deepin-feedback
Path=/tmp
Name=Deepin User Feedback
Icon=deepin-feedback
Name[zh_CN]=深度用户反馈
Icon[zh_CN]=deepin-feedback
Type=Application
Comment=Feedback tools for Deepin users.
