Source: deepin-feedback
Section: utils
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends: debhelper (>= 9),
 golang,
 golang-dlib-dev,
 dde-go-dbus-factory(>= 0.6.1),
 pkg-config,
 libx11-dev,
 libxtst-dev,
 deepin-gettext-tools
Standards-Version: 3.9.5

Package: deepin-feedback
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 rfkill, lshw,
 wireless-tools, gzip, efibootmgr, dmidecode,
 boot-info-script, jq, dde-polkit-agent
Description: report crash information to deepin for debugging
