Source: deepin-feedback
Section: utils
Priority: optional
Maintainer: 宋文武 <songwenwu@linuxdeepin.com>
Build-Depends: debhelper (>= 9),
               golang,
               golang-dlib-dev,
               dde-go-dbus-factory,
               qt5-qmake
Standards-Version: 3.9.5

Package: deepin-feedback
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
         qtbase5-dev, qtdeclarative5-dev, rfkill, lshw, wireless-tools, gzip, efibootmgr
Description: report crash information to deepin for debugging
